﻿.cuerpo{
  color:  black;
  background-color: #C0C0C0;
  margin-bottom: 50px;
}

.estructura{
  border-radius: 15px;
  width: 80%;
  margin: auto;
  text-align: justify;
  font-size: 18px;
}

.menu{
  color:  white;
  font-style: initial;
  margin: 0px;
  font-size: 20px;
  text-decoration: none;
  margin-left: 30px;
  border-block-end: 3px solid white;
}

.imagen{
  width: 300px;
  height: 350px;
  border: 3px solid white;
  float: left;
  margin-right: 10px;
}

.seccion_video{
  margin-left: 5%;
  float: left;
  width: 90%;
}

.video{
  float: left;
  margin-left: 20%;
  width: 60%;
  height: 300px;
  margin-bottom: 8%;
}

#tituloprincipal{
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 50px;
  color: #000080;
}

p{
  text-indent: 20px;
}
