﻿.cuerpo{
  color:  black;
  background-color: #C0C0C0;
  margin-bottom: 50px;
}

.estructura{
  border-radius: 15px;
  width: 80%;
  margin: auto;
  text-align: justify;
  font-size: 18px;
}

.menu{
  color:  white;
  font-style: initial;
  margin: 0px;
  font-size: 20px;
  text-decoration: none;
  margin-left: 30px;
  border-block-end: 3px solid white;
}

.imagen{
  width: 100%;
  border: 3px solid  #000080;
  float: left;
  margin-right: 30px;
}

.glosario{
  width: 40%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;

}

.titulosecundario{
  text-align: center;
}

#tituloprincipal{
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 50px;
  color: #000080;
}

#opinionYcomentarios{
  width: 100%;
  float: left;
}

p{
  text-indent: 20px;
}
